openapi: 3.2.0
info:
  title: Particle Space Property Records API
  description: Particle Space is proptech infrastructure for real-estate and property data.
  termsOfService: https://particlespace.com/
  contact:
    name: Particle Space
    url: https://docs.particlespace.com/docs/intro/
  version: '1.0'
servers:
- url: https://api.particlespace.com
  description: Conventional API host for Particle Space. Confirm the exact base URL in the live API reference before use.
security:
- SecretKeyAuth: []
tags:
- name: Property Records
  description: Property records and detailed attributes.
paths:
  /properties:
    get:
      operationId: listProperties
      tags:
      - Property Records
      summary: List or query property records
      description: Returns property records matching the supplied filters. Modeled from the documented property-data product; confirm parameters in the live API reference.
      parameters:
      - name: address
        in: query
        required: false
        schema:
          type: string
        description: Full or partial address to match property records.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
        description: Maximum number of records to return.
      responses:
        '200':
          description: A list of property records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Property'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /properties/{id}:
    get:
      operationId: getProperty
      tags:
      - Property Records
      summary: Retrieve a single property record
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Particle Space identifier for the property.
      responses:
        '200':
          description: A property record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Property not found.
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
    Address:
      type: object
      properties:
        line1:
          type: string
        city:
          type: string
        state:
          type: string
        postalCode:
          type: string
        latitude:
          type: number
        longitude:
          type: number
    Property:
      type: object
      description: A property record. Field set to be reconciled against the live API reference.
      properties:
        id:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        propertyType:
          type: string
        bedrooms:
          type: number
        bathrooms:
          type: number
        squareFootage:
          type: number
        yearBuilt:
          type: integer
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    SecretKeyAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Particle Space secret API key (PS_SECRET_KEY) as a bearer token. The key determines live versus test mode. Confirm the exact authentication scheme and header in the live API reference.
