openapi: 3.0.1
info:
  title: Particle Space Address Search Valuations API
  description: 'Particle Space is proptech infrastructure for real-estate and property data. The API is organized around REST, has resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. Requests are authenticated with an API key; the key determines whether the request runs in live mode or test mode.

    This specification models the documented Particle Space data-platform product areas - property records, address/property search, valuations (AVM), comparables, and listings (for sale, rent, and off-market). The exact request paths, query parameters, and response schemas should be reconciled against the live API reference at https://docs.particlespace.com/docs/intro/. Resource paths and field names below are illustrative of the documented product areas and are marked unreconciled until verified.'
  termsOfService: https://particlespace.com/
  contact:
    name: Particle Space
    url: https://docs.particlespace.com/docs/intro/
  version: '1.0'
servers:
- url: https://api.particlespace.com
  description: Conventional API host for Particle Space. Confirm the exact base URL in the live API reference before use.
security:
- SecretKeyAuth: []
tags:
- name: Valuations
  description: Automated valuation model (AVM) value and rent estimates.
paths:
  /valuations:
    get:
      operationId: getValuation
      tags:
      - Valuations
      summary: Get an AVM value and rent estimate for a property.
      description: Returns automated valuation model (AVM) estimates for a property identified by id or address. Confirm estimate fields in the live API reference.
      parameters:
      - name: propertyId
        in: query
        required: false
        schema:
          type: string
        description: Particle Space property identifier.
      - name: address
        in: query
        required: false
        schema:
          type: string
        description: Address to value when no property identifier is supplied.
      responses:
        '200':
          description: A valuation estimate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Valuation'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Valuation:
      type: object
      description: AVM value and rent estimate for a property.
      properties:
        propertyId:
          type: string
        valueEstimate:
          type: number
        valueRangeLow:
          type: number
        valueRangeHigh:
          type: number
        rentEstimate:
          type: number
        currency:
          type: string
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    SecretKeyAuth:
      type: http
      scheme: bearer
      description: Authenticate with a Particle Space secret API key (PS_SECRET_KEY) as a bearer token. The key determines live versus test mode. Confirm the exact authentication scheme and header in the live API reference.
